<div class="text-end p-2">
  <img (click)="closeDialog()" class="d-pointer" src="assets/images/close_dialog.svg" alt="">
</div>
<div class="pop-up-container">
  <div class="title-pop-up"> شاركنا نجاحك  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="mb-3">
      <label for="FamilyWritingsId" class="mb-3">اختر المجال</label>
            <select formControlName="FamilyWritingsId" type="text" name="FamilyWritingsId" id="FamilyWritingsId"
            [class.is-invalid]="FamilyWritingsId?.invalid && FamilyWritingsId?.touched" [class.is-valid]="FamilyWritingsId?.valid"
                class="form-select my-1">
                <option *ngFor="let item of allFamilyWritings" [value]="item.id">{{item.name}}</option>
            </select>
            <div *ngIf="FamilyWritingsId?.errors && FamilyWritingsId?.touched">
                <small *ngIf="FamilyWritingsId?.hasError('required')" class="text-danger"> يجب اختيار المجال</small>
            </div>
     </div>

     <div class="mb-3">
      <label for="QualificationId" class="mb-3">اختر المرحلة</label>
            <select formControlName="QualificationId" type="text" name="QualificationId" id="QualificationId"
            [class.is-invalid]="QualificationId?.invalid && QualificationId?.touched" [class.is-valid]="QualificationId?.valid"
                class="form-select my-1">
                <option *ngFor="let item of allQualifications" [value]="item.id">{{item.name}}</option>
            </select>
            <div *ngIf="QualificationId?.errors && QualificationId?.touched">
                <small *ngIf="QualificationId?.hasError('required')" class="text-danger"> يجب اختيار المرحلة</small>
            </div>
     </div>
     <div class="mb-3">
      <label class="input-label" for="BookName">اسم المؤلف</label>
      <input formControlName="BookName" type="text" name="BookName" id="BookName"
          [class.is-invalid]="BookName?.invalid && BookName?.touched" [class.is-valid]="BookName?.valid"
          class="form-control my-1">
      <div *ngIf="BookName?.errors && BookName?.touched">
          <small *ngIf="BookName?.hasError('required')" class="text-danger">يجب ادخال اسم  المؤلف</small>
      </div>
  </div>
  <div class="mb-3">
    <label class="input-label" for="PublishingHouse"> دار النشر</label>
    <input formControlName="PublishingHouse" type="text" name="PublishingHouse" id="PublishingHouse"
        [class.is-invalid]="PublishingHouse?.invalid && PublishingHouse?.touched" [class.is-valid]="PublishingHouse?.valid"
        class="form-control my-1">
    <div *ngIf="PublishingHouse?.errors && PublishingHouse?.touched">
        <small *ngIf="PublishingHouse?.hasError('required')" class="text-danger">يجب ادخال اسم  دار النشر</small>
    </div>
</div>
<div class="mb-3">
  <label class="input-label" for="File">  المرفقات</label>
  <input  (change)="onFileSelected($event)" formControlName="File" type="file" name="File" id="File" [class.is-invalid]="File?.invalid && File?.touched" [class.is-valid]="File?.valid" class="form-control my-1">
    <div *ngIf="File?.errors && File?.touched">
        <small *ngIf="File?.hasError('required')"  class="text-danger">يجب ادخال   المرفقات</small>
    </div>
</div>
<div class="mb-3">
  <label class="input-label" for="BriefAboutMessage"> نبذه عن</label>
  <textarea formControlName="BriefAboutMessage" type="text" name="BriefAboutMessage" id="BriefAboutMessage"
      [class.is-invalid]="BriefAboutMessage?.invalid && BriefAboutMessage?.touched" [class.is-valid]="BriefAboutMessage?.valid"
      class="form-control my-1" cols="6" rows="6"></textarea>
  <div *ngIf="BriefAboutMessage?.errors && BriefAboutMessage?.touched">
      <small *ngIf="BriefAboutMessage?.hasError('required')" class="text-danger">يجب ادخال نبذة</small>
  </div>
</div>

      <button type="submit" routerLink="#" class="bg-primary-btn-block my-3 mb-4 p-2">حفــظ</button>
  </form>
</div>

