.MainContainer {
    width: 95%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    min-height: 450px;
    background-color: #f1f1f1;
    height: 100%;
    border-radius: 10px;
    .title{
        color: black;
        padding-block: 12px;
        font-size: large;
    }
    .img{
        width: 70px;
        height: 70px;
        object-fit: fill;
        border-radius: 50%;
        display: flex;
        float: left;
        margin-block: 5px;
    }
    .nameContainer{
        color: black;
        font-size: smaller;
    }
    p {
         text-align: justify;
        padding-inline: 10px;
        margin-top: 10px;
        line-height: 25px;
        font-size:medium;
        /* overflow-wrap: break-word;
        hyphens: auto; */
    }
}




