.image-container{
    position: relative;
}

.image{
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
    width: calc(100% - 45px);
    height: calc(100% - 25px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../../../../assets/images/إطار صور متميزو الشهر.svg');
    /* clip-path: polygon(71% 0%, 50% 9%, 30% 0%, 20% 20%, 0% 30%, 8% 50%, 0% 71%, 21% 80%, 30% 100%, 50% 91%, 70% 99%, 80% 79%, 99% 70%, 92% 50%, 99% 30%, 79% 20%); */
}

  .maskedImage{
    position: absolute;
    width: calc(100% - 0px);
    height: calc(100% - -12px);
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #b79144; */
    /* background-image: url('/assets/images/person.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px;
    background-clip: padding-box;
    background-image: url('../../../../assets/images/إطار صور متميزو الشهر.svg');
    /* clip-path: polygon(71% 1%, 50% 10%, 31% 1%, 21% 21%, 1% 30%, 9% 50%, 1% 70%, 22% 80%, 31% 99%, 50% 90%, 70% 98%, 79% 78%, 98% 69%, 91% 50%, 98% 30%, 78% 21%); */
}
