<div *ngIf="tabNumberIsActive == 0"  class="manashet-list-container mb-5">
  <div class="manashet-list-content">
      <a *ngFor="let nav of navList" (click)="selectItem(nav.id)" ngClass="{{nav.isSelected?'active-navigation-button':'inactive-navigation-button'}}">{{nav.label}}</a>
  </div>
  <div class="manashet-items">
    <div *ngFor="let item of navList">
      <div *ngIf="item.isSelected" class="row">
        <!-- <app-manashet-item  class="col-12 col-md-4" *ngFor="let a of allActivities; let i=index" [circle]="i%3!=0" [title]="a.name" (click)="onClickItem(a.id)" [description]="a.description" [imagePath]="a.imagePath"
        [statusActivity]="a.statusActivity" [programTitle]="program.title" ></app-manashet-item> -->
        <div class="col-12 d-flex align-items-center">
          <div class="px-4 pt-4">
            <p class="lh-lg" [innerHTML]="item.desc"></p>
          </div>
        </div>
        <div class="col-12 d-flex align-items-center ">
          <a class="bg-primary-btn my-4 " style="border-radius: 25px !important;" (click)="joinClub(item.id)" > انضم للنادي  </a>
          <a class="bg-primary-btn my-4 mx-3" style="border-radius: 25px !important;" (click)="naviagteToDetails(item.id)">  أقرأ المزيد عن النادي  </a>

        </div>
        <!-- <div class="col-3">

        </div> -->

    </div>
    </div>

  </div>
</div>
