<div class="text-end p-2">
  <img (click)="closeDialog()" class="d-pointer" src="assets/images/close_dialog.svg" alt="Close" role="button">
</div>

<div class="pop-up-container">
  <div class="title-pop-up">تعديل كتاب</div>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <!-- Title Field -->
    <div class="mb-3">
      <label class="input-label" for="title">عنوان الكتاب</label>
      <input formControlName="title" type="text" name="title" id="title"
             [class.is-invalid]="form.get('title')?.invalid && form.get('title')?.touched"
             [class.is-valid]="form.get('title')?.valid"
             class="form-control my-1">
      <div *ngIf="form.get('title')?.errors && form.get('title')?.touched">
        <small *ngIf="form.get('title')?.hasError('required')" class="text-danger">يجب إدخال عنوان الكتاب</small>
      </div>
    </div>

    <!-- Description Field -->
    <div class="mb-3">
      <label class="input-label" for="description">الوصف</label>
      <input formControlName="description" type="text" name="description" id="description"
             [class.is-invalid]="form.get('description')?.invalid && form.get('description')?.touched"
             [class.is-valid]="form.get('description')?.valid"
             class="form-control my-1">
      <div *ngIf="form.get('description')?.errors && form.get('description')?.touched">
        <small *ngIf="form.get('description')?.hasError('required')" class="text-danger">يجب إدخال الوصف</small>
      </div>
    </div>

    <!-- Image Preview
    <div *ngIf="bookImagePreview" class="image-preview mb-3">
      <img [src]="bookImagePreview" alt="Book Image Preview" width="100%" class="img-thumbnail">
    </div> -->
    <!-- Book Image Field -->
    <div class="mb-3">
      <label class="input-label" for="bookImage">صورة الكتاب</label>
      <input (change)="onFileSelected($event)" formControlName="bookImage" type="file" name="bookImage"
             id="bookImage" class="form-control my-1 file-input" accept="image/*" hidden>
      <label for="bookImage" class="bg-primary-btn-block custom-file-label">اختار صورة</label>



      <div *ngIf="form.get('bookImage')?.errors && form.get('bookImage')?.touched">
        <small *ngIf="form.get('bookImage')?.hasError('required')" class="text-danger">يجب إدخال صورة الكتاب</small>
      </div>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="bg-primary-btn-block my-3 mb-4 p-2">حفــظ</button>
  </form>
</div>
