<div class="row page-list-header d-flex justify-content-between align-items-center">
  <div class="col-12 col-md-7">
    <div class="mainPageTitle mb-3">المشاركون</div>
    <div >

    </div>
    <div class="col-12 col-md-3 text-light" style="    align-self: self-end;"  >
      <button type="button" class="btn btn-success w-100" (click)="exportAsXLSX()" >تصدير</button>
    </div>
  </div>
  <div class="col-12 col-md-5">
    <input type="text" style="outline: none; border: 1px solid var(--main-color);box-shadow: none;" (keyup.enter)="getPageByName()" [(ngModel)]="pagedRequest.name" placeholder="ابحث عن مستخدم" class="form-control">
  </div>
</div>

<div>
  <div class="manashet-list-content text-center my-2">
    <a *ngFor="let nav of navList" (click)="selectItem(nav.id)" ngClass="{{nav.isSelected?'active-navigation-button':'inactive-navigation-button'}}">{{nav.label}}</a>
</div>
    <table class="table table-responsive table-hover">
        <tr class="tableHeader">
            <td>الاسم </td>
            <td>الفرع</td>
            <td>المؤهل</td>
            <td>العام الدراسي</td>
            <td>رقم الهوية </td>
            <td>رقم الهاتف </td>
            <td>الاعتماد </td>
            <td> المركز </td>
            <td> المكافئة </td>
        </tr>
         <tr class="mt-3">
            <td colspan="7"></td>
         </tr>
        <tbody class="tableData" *ngFor="let item of pageResponse.items | paginate:
             { id: 'foo', itemsPerPage: 10, currentPage:p, totalItems: pageResponse.totalCount};let i = index">
            <tr id="first_{{i}}" >
                <td class="table-date" style="cursor: pointer;">{{item.userDisplayName}}</td>
                <td class="table-date" style="cursor: pointer;">{{item.familyBranch}}</td>
                <td class="table-date" style="cursor: pointer;">{{item.qualification}}</td>
                <td class="table-date" style="cursor: pointer;">{{currentYear}}</td>
                <td class="table-date" style="cursor: pointer;">{{item.identityNumber}}</td>
                <td class="table-date" style="cursor: pointer;">{{item.phoneNumber}}</td>
                <td class="table-date" style="cursor: pointer;" *ngIf="item.isApproved==false">مرفوض</td>
                <td class="table-date" style="cursor: pointer;" *ngIf="item.isApproved==true">معتمد</td>
                <td class="table-date" style="cursor: pointer;" *ngIf="item.isApproved==null">تحت النظر</td>
                <td class="table-date" style="cursor: pointer;" *ngIf="item.place.length>0">{{item.place}}</td>
                <td class="table-date" style="cursor: pointer;" *ngIf="item.place.length==0">-</td>
                <td class="table-date" style="cursor: pointer;" *ngIf="item.reward.length>0">{{item.reward}}</td>
                <td class="table-date" style="cursor: pointer;" *ngIf="item.reward.length==0">0</td>


            </tr>
        </tbody>
    </table>
    <div *ngIf="pageResponse.totalCount==0" class="emptyData">لا يوجد بيانات  . . .</div>
</div>
<div class="row my-5 mb-1 m-0">
    <div class="d-flex align-items-center justify-content-center">
      <div>
        <pagination-controls (pageChange)="p=$event" id="foo" nextLabel="" previousLabel=""></pagination-controls>
      </div>
      <!-- <div >
        <select style="margin-bottom: 15px;padding: 5px;display: inline-block;width: 70px;" name="pageSize" id="pageSize" (change)="changePageSize()" [(ngModel)]="pagedRequest.pageSize" class="select-size">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
        </select>
      </div> -->
    </div>
</div>
<div class="text-center">إجمالى عدد الأعضاء : {{ pageResponse.totalCount}}</div>

