<app-navbar typeNav="dark" [active]=1></app-navbar>
<app-bread-crumb title="الرئسية"  subSubSubTitle="نادي القراءة" subSubSubTitleRouteLink="/kafaat/articles"></app-bread-crumb>

<div class="container">
  <div class="my-3 py-4">
    <p style="color: black;margin-bottom: 25px;" class="p-title">نادي القراءة</p>
    <p  style="color: #525252; " class="p-desc">
      نـادي القـراءة يجمـع بيـن القـراءة والثقافـة والترفيه والتربيـة، والتفاعل الاجتماعـي، ممـا يجعلـه محـوًرا أساسـًيا للتنميـة الفكريـة والمعرفيـة، ويقــدم مجموعــة متنوعــة مــن الكتــب المختــارة بعنايــة، تالئــم مختلــف المســتويات واالهتمامــات، ممــا يثــري الرحلــة القرائيــة ألعضائــه، إضافـة إلـى ذلـك يتميـز النـادي بإقامـة دورات تدريبيـة، وتنظيـم مناشـط وبرامـج ثقافيـة، وحلقـات نقـاش ولقـاءات تعـزز مـن تجربـة القـراءة.
    </p>
    <p  style="color: #525252; " class="p-desc">
      في كل شـهر، يتعمق المشـاركون في قراءة كتاب مختار، ثم يسـعون لاسـتخراج فوائـد قيمـة وإعـداد ملخصـات شـاملة مـن ذلـك الكتـاب ثم فـي نهايـة الشـهر يكـون هنـاك لقـاء بيـن األعضـاء المتفاعليـن يفتـحً مجـالا واسـعًا للنقـاش وتبـادل األفـكار، ويسـاهم فـي تعزيـز مهاراتهـم التحليليـة والنقديـة.
    </p>
  </div>

  <div class="my-3 py-4">
    <p style="color: black;margin-bottom: 25px;" class="p-title">اهداف النادي </p>
    <ul  style="color: #525252; " class="p-desc">
      <li>اكتشاف وصقل المواهب في القراءة.</li>
      <li>تنمية العقل الناقد.</li>
      <li>نشر ثقافة القراءة.</li>
      <li>طوير مهارات اختيار الكتاب المناسب.</li>
      <li>الحث على التدوين والتخليص.</li>
    </ul>

  </div>

  <div class="my-3 py-4">
    <p style="color: black;margin-bottom: 25px;" class="p-title"> اهمية اختيار كتاب </p>
    <p  style="color: #525252; " class="p-desc">
      أو ُُّل خطــوٍة لتحقيــق القــراءة هــي «اختيــار الكتــاب»، فــإذا كان االختيــاُر مثالًّّيــا
تحققـت الفائـد ُُة والمنفعـة المْْر ُُجـوة ِمـن القـراءة، و ََضلال القـارئ اختيـاَر الكتـاب
 ألاول يتـرك أثـًرا سـلبًّّيا قـد يُؤدي بـه الى احايـين كثيرة الى العزوف عن القـراءة
او تركها بالكلية وِ إنهـاء شغفه بها.
    </p>

  </div>

  <!-- <div class="my-3 py-4">

    <p style="color: black; padding-bottom: 20px;" class="p-title">الية المشاركة في النادي </p>

    <div  class="row justify-content-around align-items-center ">
      <div class="col-4 d-flex justify-content-center align-items-center flex-column" >
        <div class="d-flex justify-content-center align-items-center">
          <div class="d-flex justify-content-center align-items-center">
  <figure style="width: 50px;">
    <img src="../../../../assets/images/fluent_certificate-16-regular.png" alt="">
  </figure>
  <p style="color: black;" class="p-title">
    صفحات القراءة
  </p>
          </div>

        </div>

        <ul style="color: #525252;" class="p-desc">
         <li>المتوسط 5 صـ يومياً.</li>
         <li>الثانوي 8 صـ يومياً.</li>
         <li> الجامعي 12 صـ يومياً</li>

        </ul>

      </div>

      <div class="col-4 d-flex justify-content-center align-items-center flex-column" >
        <div class="d-flex justify-content-center align-items-center">
          <div class="d-flex justify-content-center align-items-center">
  <figure style="width: 50px;">
    <img src="../../../../assets/images/light.png" alt="">
  </figure>
  <p style="color: black; " class="p-title">
    آلية القراءة
  </p>
          </div>

        </div>

        <p  style="color: #525252;" class="p-desc">
            تكون المتابعة نهاية كل يوم عبر مجموعة الواتس ليتسنى للمشارك استدراك ما فاته.

        </p>

      </div>

    </div>


    <div  class="row justify-content-around align-items-center mt-3">
      <div class="col-4 d-flex justify-content-center align-items-center flex-column" >
        <div class="d-flex justify-content-center align-items-center">
          <div class="d-flex justify-content-center align-items-center">
  <figure style="width: 50px;">
    <img src="../../../../assets/images/time.png" alt="">
  </figure>
  <p style="color: black;" class="p-title">
    أيام البرنامج
  </p>
          </div>

        </div>

        <p style="color: #525252;" class="p-desc">
          كل يوم دراسي: (من الأحد، حتى الخميس)
          عدا أشهر االختبارات

        </p>

      </div>

      <div class="col-4 d-flex justify-content-center align-items-center flex-column" >
        <div class="d-flex justify-content-center align-items-center">
          <div class="d-flex justify-content-center align-items-center">
  <figure style="width: 50px;">
    <img src="../../../../assets/images/correct.png" alt="">
  </figure>
  <p style="color: black;" class="p-title">

آلية المتابعة
  </p>
          </div>

        </div>

        <p  style="color: #525252;" class="p-desc">
          يقرأ المشارك النصاب المحدد في نفس اليوم. - يدّون المشارك ثالث فوائد على األقل من النصاب اليومي.

        </p>

      </div>

    </div>

  </div> -->
  <div class="my-3 py-4">
    <p style="color: black; padding-bottom: 20px;" class="p-title">الية المشاركة في النادي </p>

    <div  class=" row gy-4">
      <div class="col-md-6" >
        <div class="card">
          <div class="card-body">
            <div class=" mb-2 d-inline-block" style="width: 48px ; height: 48px;">
              <img src="../../../../assets/images/fluent_certificate-16-regular.png" class="w-100 h-100" alt="">
            </div>
            <p style="color: black;" class="p-title card-title d-inline">
              صفحات القراءة
            </p>
            <div class="card-text">
              <ul style="color: #525252;width: 330px;" class="p-desc ">
                <li>المتوسط 5 صـ يومياً.</li>
                <li>الثانوي 8 صـ يومياً.</li>
                <li> الجامعي 12 صـ يومياً</li>
               </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6" >
        <div class="card">
          <div class="card-body">
            <div class=" mb-2 d-inline-block" style="width: 48px ; height: 48px;">
              <img src="../../../../assets/images/light.png"  class="w-100 h-100"alt="">
            </div>
            <p style="color: black; " class="p-title card-title d-inline">
              آلية القراءة
            </p>
            <div class="card-text">
              <p  style="color: #525252;width: 330px;" class="p-desc">
                تكون المتابعة نهاية كل يوم عبر مجموعة الواتس ليتسنى للمشارك استدراك ما فاته.
            </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6" >
        <div class="card">
          <div class="card-body">
            <div class=" mb-2 d-inline-block" style="width: 48px ; height: 48px;">
              <img src="../../../../assets/images/time.png" class="w-100 h-100" alt="">
            </div>
            <p style="color: black; " class="p-title card-title d-inline">
              أيام البرنامج
            </p>
            <div class="card-text">
              <p style="color: #525252;width: 330px;" class="p-desc">
                كل يوم دراسي: (من الأحد، حتى الخميس)
                عدا أشهر االختبارات

              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6" >
        <div class="card">
          <div class="card-body">
            <div class=" mb-2 d-inline-block" style="width: 48px ; height: 48px;">
              <img src="../../../../assets/images/correct.png"  class="w-100 h-100"alt="">
            </div>
            <p style="color: black; " class="p-title card-title d-inline">
              آلية المتابعة
            </p>
            <div class="card-text">
              <p  style="color: #525252;width: 330px;" class="p-desc">
                يقرأ المشارك النصاب المحدد في نفس اليوم. - يدّون المشارك ثالث فوائد على األقل من النصاب اليومي.
              </p>
            </div>
          </div>
        </div>
      </div>



    </div>




  </div>
</div>
