<div class="text-end p-2">
  <img (click)="closeDialog()" class="d-pointer" src="assets/images/close_dialog.svg" alt="">
</div>
<div class="pop-up-container">
<div class="title-pop-up" style="border-bottom: none;margin: 30px 15px !important;">
   <h2 style="font-size: 24px;font-weight: 600;color: #424242;">شكرا لتقدمك</h2>
   <p style="font-size: 16px;color: #818181;margin-top: 10px;margin-right: 27px;" >تم ارسال بياناتك سيتم التواصل معك قريبا من قبل الادارة المسؤولة</p>
</div>
  <button type="button" routerLink="#" class="bg-primary-btn-block  my-3 mb-4 p-2" (click)="closeDialog()">  حسنا </button>
</div>
